<head>
    <%- include ('../partials/header') %>
</head>

<body>
    <!-- Button to trigger modal -->
    <div class="container mt-4">
        <h1>Book Reviews</h1>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addReviewModal">
            Add Review
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addReviewModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Add a New Book Review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/add_reviews">
                        <div class="form-group">
                            <label for="review_title">Review Title:</label>
                            <input type="text" class="form-control" id="review_title" name="review_title" required>
                        </div>
                        
                        <div class="form-group">
                            <label for="review">Review:</label>
                            <textarea class="form-control" id="review" name="review" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="rating">Rating:</label>
                            <input type="number" class="form-control" id="rating" name="rating" min="1" max="5" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit Review</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include ('../partials/footer') %>
