<%- include ('../partials/header') %> 

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1 class="text-center mt-5">Logout was successful</h1>
  </div>
</main>

<%- include ('../partials/footer') %>