<!DOCTYPE html>
<%- include ('../partials/header') %>
<main>
    <div class="container">
      <div class="login-container" style="max-width: 400px; margin: 50px auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px;">
        <h2  style="text-align:center;">The BookAholics</h2>
        <p style="text-align:justify;">At BookAholics, our mission is to improve your reading experience. Through allowing users to search and review books, we strive to help you find books that you will love.</p>
        <div class ="d-flex justify-content-evenly">
            <form action="/register" method="GET">
                  <a href="/register" class="btn btn-primary " tabindex="-1" role="button" aria-disabled="true">Register</a>
              </form>
            <form action = '/login' method="GET">
                <a href="/login" class="btn btn-primary " tabindex="-1" role="button" aria-disabled="true">Login</a>
            </form>
        </div>
        <b4 class ="d-flex justify-content-center" style="text-align:center;"> Please choose from above</b4>

      </div>
    </div>
  </main>
<%- include ('../partials/footer') %>