<footer class="text-center text-muted w-100 mt-auto fixed-bottom">
    <p>
      &copy; Copyright 2023 : TheBookaholics
  </footer>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9B+Vv8h9eStj8zIz8hzuKdbZf4x0sKRjJ4" crossorigin="anonymous"></script>
</body>
</html>
