<% if (locals.message) { %>
    <center>
        <div
            class="alert alert-<%- locals.error ? 'danger' : 'success' %> alert-dismissible fade show" role="alert">
             <h14 class="alert-heading"> <%= message %> </h14>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </center>
<% } %>