<!DOCTYPE html>
<header>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JS and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .navbar-custom {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
        }
    </style>

    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom">
        <img src="/img/zz.png" height="55">
    </nav>
</header>